body {
  .v-btn {
    &--size-large {
      --v-btn-size: 0.9rem;
    }
    &--flat {
      .v-btn__overlay,
      .v-ripple__container {
        display: none !important;
      }
    }
    &.v-theme--light:not(.v-btn--flat) {
      background: #f2f2f2;
    }
  }
}