.v-theme--light {
  --v-medium-emphasis-opacity: 0.5 !important;
  --v-theme-primary: 0, 149, 246;

  ::selection {
    background: black;
    color: white;
  }
}

.v-theme--dark {
  --v-medium-emphasis-opacity: 0.5 !important;
  --v-theme-background: 0, 0, 0 !important;
  --v-theme-primary: 0, 149, 246;

  ::selection {
    background: white;
    color: black;
  }
}

.bg-background {
  background: rgb(var(--v-theme-background));
}

body {
  .v-application {
    font-family: InterVariable, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .v-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .v-overlay {
    .v-overlay__scrim {
      opacity: 0.7;
    }

    &.v-theme--dark {
      .v-overlay__scrim {
        opacity: 1;
        background: rgba(var(--v-theme-surface), 0.5);
      }
    }
  }

  .text-caption {
    line-height: 17px;
  }
}