body {
  .v-application {
    font-family: InterVariable, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 19px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .v-container {
    padding-top: 0;
    padding-bottom: 0;
  }

  .v-theme--light {
    ::selection {
      background: black;
      color: white;
    }
  }

  .v-theme--dark {
    ::selection {
      background: white;
      color: black;
    }
  }
}