.ig-intro a[data-v-a947ea25]{color:inherit;opacity:.65;text-decoration:none}a[data-v-55cc0bf9]{color:inherit;text-decoration:initial}footer[data-v-014021f3]{-webkit-user-select:none;user-select:none}
