:root {
    --vp-c-brand-1: #000;
    --vp-c-brand-2: #000;
    --vp-c-brand-3: #000;
    --vp-c-brand-light: #000;
    --vp-custom-block-tip-bg: rgb(88 88 88 / 15%);
    --vp-code-color: #888;
}

.dark {
    --vp-c-gutter: #ffffff07;
    --vp-c-brand-1: #fff;
    --vp-c-brand-2: #fff;
    --vp-c-brand-3: #fff;
    --vp-button-brand-text: #000;
    --vp-button-brand-hover-text: #000;
    --vp-button-brand-active-text: #000;
}