@use "./settings";
@use "./variables" as *;

// ui
@use "vuetify/lib/styles/main.sass";
@use "@mdi/font/css/materialdesignicons.min.css";
@use "./partials";

// libraries
@use "filepond/dist/filepond.min.css";

html {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

body {
  user-select: none;

  &.is-iframe {
    padding-top: 5dvh;

    .v-dialog--fullscreen .v-overlay__content .v-card {
      padding-top: 5dvh;
    }
  }
}

h2 {
  line-height: 32px;
}

.cursor-pointer {
  cursor: pointer;
}

.no-pointer-events {
  pointer-events: none;
}

p[contenteditable] {
  outline: none;
}