:root {
  .v-theme--light {
    --v-medium-emphasis-opacity: 0.5 !important;
    --v-theme-primary: 0, 149, 246;
  }

  .v-theme--dark {
    --v-medium-emphasis-opacity: 0.5 !important;
    --v-theme-primary: 0, 149, 246;
  }
}