:root {
  --swiper-theme-color: rgba(255, 255, 255, 0.7) !important;
}

body {
  .swiper-button-prev,
  .swiper-button-next {
    position: absolute;
    top: 50%;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    z-index: 10;
    cursor: pointer;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s;
  }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background: rgba(0, 0, 0, 0.8);
  }
  .swiper-button-prev::after,
  .swiper-button-next::after {
    font-size: 16px;
    color: #fff;
  }
  .swiper-button-prev {
    left: 10px;
  }
  .swiper-button-next {
    right: 10px;
  }
}