// ui and variables
@import "./variables.scss";
@import "vuetify/styles";
@import "@mdi/font/css/materialdesignicons.min.css";

// libraries
@import "vue3-carousel/dist/carousel.css";
@import "filepond/dist/filepond.min.css";

// fonts
@import "@fontsource/cookie";
@import "@fontsource/cookie/400.css";

#app {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  .v-application {
    background: var(--ig-background);
    color: var(--ig-color);
    user-select: none;
  }

  .v-container {
    padding-top: 0;
    padding-bottom: 0;
  }
}

.v-card {
  &-title {
    font-size: 16px !important;
    font-weight: bold !important;
    text-align: center !important;
    border-bottom: 1px solid var(--v-border-color);
  }
}

// increase dragged vue-slicksort item z-index
body > .v-col {
  z-index: 999;
}

h2 {
  line-height: 32px;
}

.no-pointer-events {
  pointer-events: none;
}