@use 'vuetify/settings' with (
  $dialog-border-radius: 16px,
  $button-border-radius: 8px,
  $list-item-rounded-border-radius: 8px,
  $button-elevation: ('default': 0, 'hover': 0, 'active': 0),
  $tooltip-padding: 4px 8px,
  $tooltip-line-height: 16px,
  $tooltip-font-size: 12px,
);