:root {
  .v-theme--light {
    --igp-background: white;
    --igp-color: #262626;

    --igp-border: #dbdbdb;

    --igp-tab-color: #929292;
    --igp-tab-color-active: #262626;
    --igp-tab-color-border: black;
  }

  .v-theme--dark {
    --igp-background: black;
    --igp-color: white;

    --igp-border: #282828;

    --igp-tab-color: #929292;
    --igp-tab-color-active: #bbbbbb;
    --igp-tab-color-border: #4c4c4c;
  }
}