:root {
  .v-theme--light {
    --ig-background: white;
    --ig-color: #262626;

    --ig-tab-color: #929292;
    --ig-tab-color-active: black;
  }

  .v-theme--dark {
    --ig-background: black;
    --ig-color: white;

    --ig-tab-color: #929292;
    --ig-tab-color-active: white;
  }
}
